<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form action="#" th:action="@{/login}" th:object="${user}" method="post">

    <table border="1">
        <tr>
            <td><label>UserName : </label></td>
            <td><input type="text" th:field="*{userName}" /></td>
        </tr>
        <tr>
            <td><label>Password : </label></td>
            <td><input type="password" th:field="*{password}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>

    <!--<div><label> User Name : <input type="text" th:field="*{userName}" name="username"/> </label></div>-->
    <!--<div><label> Password: <input type="password" th:field="*{password}" name="password"/> </label></div>-->
    <!--<div><input type="submit" value="Sign In"/></div>-->
    <!--<div><input type="reset" value="Reset" /></div>-->
</form>
</body>
</html>